{%extends 'student/layout.html'%}
{%load static%}
{%block body%}

<section class="about_section layout_padding">
    <div class="container  ">
      <div class="heading_container heading_center">
        <h2>
          About <span>Us</span>
        </h2>
        <p>
          </p>
      </div>
      <div class="row">
        <div class="col-md-6 ">
          <div class="img-box">
            <img src="{%static 'ravi/images/ravi3.png'%}" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h3>
              We Are TechnoVerse
            </h3>
            <p>
              <span><h5></h5></span>
In the dynamic landscape of education, the integration of technology has paved the way for innovative learning approaches. "TechnoVerse" emerges as a groundbreaking project designed to cater to the educational needs of students by providing self-learning materials and engaging self-assignments. This initiative aims to empower students to take control of their learning journey, fostering independence, curiosity, and a deep understanding of various subjects.


            </p>
            <p>
              TechnoVerse recognizes the diverse learning styles and preferences of students. To accommodate this, the project offers a rich repository of self-learning materials. These materials encompass multimedia resources, interactive modules, e-books, and curated content that cater to different academic levels and subjects. The goal is to make learning accessible, engaging, and tailored to individual needs.            </p>
            <a href="#">
              Thank you !
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
<br>



{%endblock%}