{%extends 'adminparent.html'%}
{%block main%}
<script>
    function validate(){
        var oldpassword=document.getElementById('oldpassword');
        var newpassword=document.getElementById('newpassword');
        var confirmpassword=document.getElementById('confirmpassword');
        if(oldpassword.value=="" || oldpassword.value==null)
        {
            alert("enter old passowrd plese");
            oldpassword.focus();
        }
        else if(newpassword.value=="" || newpassword.value==null)
        {
            alert("enter newpassword plese");
            newpassword.focus();
        }
        else if(newpassword.value==oldpassword.value)
        {
            alert("newpassword not same as oldpassword");
            newpassword.focus();

        }
        else if(newpassword.value.length<8)
        {
            alert("password length should be grate than 8 character");
            newpassword.focus();
        }
        else if(confirmpassword.value!=newpassword.value)
        {
            alert("confirm password not match as newpassword");
            confirmpassword.focus();
        }
        else{
            document.getElementById('capass').submit();
        }
    }
</script>
<h1 style="text-align: center;">Change password</h1>


<form action="{%url 'changeadminpassword'%}" class="form-control"  method="post" id="capass" onsubmit="event.preventDefault(); validate();">
    {%csrf_token%}
    <table class="table align-items-center mb-0" style="width: 80%;">
        <tr class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
            <td class="align-middle text-center text-sm">Old Password</td>
            <td><input class="form-control" type="text" name="oldpassword" id="oldpassword"></td>
        </tr>
        <tr class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
            <td class="align-middle text-center text-sm">New Password</td>
            <td><input class="form-control" type="text" name="newpassword" id="newpassword"></td>

        </tr>
        <tr class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
            <td class="align-middle text-center text-sm">Confirm Password</td>
            <td class="align-middle text-center text-sm"><input class="form-control" type="text" name="confirmpassword" id="confirmpassword"></td>
        </tr>
        <tr class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
            <td></td>
            <td class="align-middle text-center text-sm"><button class="btn bg-gradient-dark w-100 my-4 mb-2" type="submit" style="background-color: red;">Change password</button></td>
        </tr>
    </table>
</form>
{%endblock%}
